/* Write your styles */
.bb-alert {
    position: fixed;
    bottom: 25%;
    right: 0;
    width: 300px;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}
table.dataTable thead>tr>th {
    padding: .7rem;
}